* {
    font-size: 24px;
    font-family: Inter;
    box-sizing: border-box;
}

body{
    padding: 40px;
}

.container {
    display: flex;
    border: 2px solid black;
    height: 750px;

    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 20px;
    
    flex-wrap: wrap;
 

}

.item{
    width: 180px;
    padding: 20px;
    margin: 20px;

    background-color: red;
}
