.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}


.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.content{
    width: 250px;
}
