.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.texts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content{
    width: 250px;
}
