*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, red, green);
}

ul{
    border: 1px solid black;
    list-style: none;
    width: 650px;
    height: 250px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 20px;
}

ul li{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#horas::after
#minutos::after{
    content: ":";
    margin-left: 50px;
    margin-right: 50px;
}